html
body {
    height: 100%
    font-size 1rem;
    font-family: 'Montserrat', sans-serif;
}
.gradient {
    background: rgb(43,143,254);
background: linear-gradient(90deg, rgba(43,143,254,1) 8%, rgba(0,0,0,1) 100%);
}
.page-header {
    margin-top: 4rem;
    font-size: 1.25rem;
    color: white;
}
.feature {
    color:white

}
.feature ul {
   padding-left: 2rem;
   list-style-type: none;
}
.feature ul li {
    padding-left: 2rem;
    background-repeat:no-repeat ;
    line-height: 1.5rem;
    margin: bottom 1rem; ;
}
.icon {
    color:white;
    height:5rem;
    width:5rem;
    font-size:  1.75rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.gallery {
    background-color:whitesmoke ;

}
.gallery img {
    border-radius: 5%;
}